# Ignore Gradle and IntelliJ files
.gradle/
.idea/

# Ignore build output
build/
out/

# Ignore compiled Java classes
*.class

# Ignore database files
*.mv.db

# Ignore test reports and logs
*.bin
*.lock
*.log
build/
